.container{
    margin-left: 15%;
    font-family: 'Averia Serif Libre', cursive;
    padding-left: 130px;
}

.component-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Averia Serif Libre', cursive;
}

.add-form{
    margin-top: 10px;
}
.componentName{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 40px;
    width: 320px;
    background-color: black;
    border: none;
    margin: 0;
    padding: 0;
    color: white;
    cursor: pointer;
}

.editButton{
    font-family: 'Averia Serif Libre', cursive;
    background-color: #ffdc34;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 8px;
    padding: 1px 13px 2px;
}
.image-container {
    position: relative;
    height: 150px;
    width: 120px;
    margin: 12px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#profile-mask-song {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.70);
}
#profile-mask-album {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.70);
}

.image-container h2 {
    display: none;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    top: 42%;
    left: 25%;
}

#submit-button-song {
    font-family: 'Averia Serif Libre', cursive;
    width: auto;
    height: auto;
    padding: 7px 13px;
    background-color: #ffdc34;
    color: #000000;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
}
#submit-button-album {
    font-family: 'Averia Serif Libre', cursive;
    width: auto;
    height: auto;
    padding: 7px 13px;
    background-color: #ffdc34;
    color: #000000;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
}

label{
    color: white;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #ffdc34;
    padding: 10px;
    border-radius: 10px;
}
.dropdown-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-list{
    padding: 10px;
    border-radius: 20px;
    margin-left: 15px;
}
input {
    height: 35px;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
    padding-left: 10px;
    font-family: 'Averia Serif Libre', cursive;
}


.file-input-field {
    height: 35px;
    border-radius: 30px;
    border: none;
    margin: 5px 0;
    background-color: white;
    position: relative;
    
}

.file-input-field button {
    width: 92px;
    height: 45px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Averia Serif Libre', cursive;
    
}
.chosen-file {
    margin: 0;
    font-size: 16px;
    position: absolute;
    top: 23%;
    left: 33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.choose-file {
    max-height: 100%;
    width: 70px;
    background-color: #110133;
    color: white;
}
.audio-container{
    margin-top: 15px;
    margin-bottom: 20px;
}
img{
    width: 200px;
    height: 200px
}


